# Vania's Govtech Mini Assignment :D

### 1. Set up

In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('govtech_assignment').getOrCreate()

Data set from https://data.gov.sg/dataset/causes-of-road-accidents-causes-of-accidents-by-severity-of-injury-sustained downloaded as csv file, placed in 'govtech' folder in C:\ drive

In [4]:
df = spark.read.csv('c:\govtech\causes-of-accidents-by-severity-of-injury-sustained.csv', header=True, inferSchema=True)

Showing and understanding the dataset

In [5]:
df.show()

+----+-----------------------+--------------------+--------------------+-------------------+
|year|accident_classification|     road_user_group|  causes_of_accident|number_of_accidents|
+----+-----------------------+--------------------+--------------------+-------------------+
|2012|                  FATAL|Drivers, Riders o...|Failing to Keep a...|                 59|
|2012|                  FATAL|Drivers, Riders o...|Failing to Have P...|                 50|
|2012|                  FATAL|Drivers, Riders o...|Failing to Give W...|                  9|
|2012|                  FATAL|Drivers, Riders o...|Changing Lane wit...|                  6|
|2012|                  FATAL|Drivers, Riders o...|Disobeying Traffi...|                  9|
|2012|                  FATAL|Drivers, Riders o...|Turning Without D...|                  2|
|2012|                  FATAL|Drivers, Riders o...|Driving under the...|                  3|
|2012|                  FATAL|Drivers, Riders o...|Overtaking withou...|                  1|
|2012|                  FATAL|Drivers, Riders o...|Following Too Clo...|                  1|
|2012|                  FATAL|Drivers, Riders o...|Turning Vehicle &...|                  4|
|2012|                  FATAL|Drivers, Riders o...|Other causes attr...|                 31|
|2012|                 INJURY|Drivers, Riders o...|Failing to Keep a...|               2710|
|2012|                 INJURY|Drivers, Riders o...|Failing to Have P...|               1237|
|2012|                 INJURY|Drivers, Riders o...|Failing to Give W...|                862|
|2012|                 INJURY|Drivers, Riders o...|Changing Lane wit...|                498|
|2012|                 INJURY|Drivers, Riders o...|Disobeying Traffi...|                237|
|2012|                 INJURY|Drivers, Riders o...|Turning Without D...|                185|
|2012|                 INJURY|Drivers, Riders o...|Driving under the...|                115|
|2012|                 INJURY|Drivers, Riders o...|Overtaking withou...|                 79|
|2012|                 INJURY|Drivers, Riders o...|Following Too Clo...|                 49|
+----+-----------------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [6]:
df.describe().show()

+-------+------------------+-----------------------+--------------------+--------------------+-------------------+
|summary|              year|accident_classification|     road_user_group|  causes_of_accident|number_of_accidents|
+-------+------------------+-----------------------+--------------------+--------------------+-------------------+
|  count|               328|                    328|                 328|                 328|                328|
|   mean|2015.0365853658536|                   null|                null|                null|  140.1219512195122|
| stddev| 2.005772232724628|                   null|                null|                null|  403.8007998999642|
|    min|              2012|                  FATAL|Drivers, Riders o...|Carrying Out Work...|                  0|
|    max|              2018|                 INJURY|         Pedestrians|Using PMD to Trav...|               2742|
+-------+------------------+-----------------------+--------------------+--------------------+-------------------+

In [7]:
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- accident_classification: string (nullable = true)
 |-- road_user_group: string (nullable = true)
 |-- causes_of_accident: string (nullable = true)
 |-- number_of_accidents: integer (nullable = true)

### 2. Aggregation

Selecting relevant columns

In [8]:
df.select('accident_classification','number_of_accidents','year').show()

+-----------------------+-------------------+----+
|accident_classification|number_of_accidents|year|
+-----------------------+-------------------+----+
|                  FATAL|                 59|2012|
|                  FATAL|                 50|2012|
|                  FATAL|                  9|2012|
|                  FATAL|                  6|2012|
|                  FATAL|                  9|2012|
|                  FATAL|                  2|2012|
|                  FATAL|                  3|2012|
|                  FATAL|                  1|2012|
|                  FATAL|                  1|2012|
|                  FATAL|                  4|2012|
|                  FATAL|                 31|2012|
|                 INJURY|               2710|2012|
|                 INJURY|               1237|2012|
|                 INJURY|                862|2012|
|                 INJURY|                498|2012|
|                 INJURY|                237|2012|
|                 INJURY|                185|2012|
|                 INJURY|                115|2012|
|                 INJURY|                 79|2012|
|                 INJURY|                 49|2012|
+-----------------------+-------------------+----+
only showing top 20 rows

1. Group according to the accidental classification and year
2. Find the total number of accidents in each category

In [9]:
grouped = df.groupBy('accident_classification','year').sum('number_of_accidents')

1. Order by year
2. Order by accidental classification

In [10]:
ordered = grouped.orderBy('year','accident_classification')

Rename and reoder columns

In [11]:
ordered.select(ordered['accident_classification'].alias('Accidental classification'),
               ordered['sum(number_of_accidents)'].alias('Cases'),
               ordered['year'].alias('Year')).show()

+-------------------------+-----+----+
|Accidental classification|Cases|Year|
+-------------------------+-----+----+
|                    FATAL|  231|2012|
|                   INJURY| 7335|2012|
|                    FATAL|  207|2013|
|                   INJURY| 6793|2013|
|                    FATAL|  170|2014|
|                   INJURY| 7157|2014|
|                    FATAL|  162|2015|
|                   INJURY| 7019|2015|
|                    FATAL|  140|2016|
|                   INJURY| 6480|2016|
|                    FATAL|  109|2017|
|                   INJURY| 5101|2017|
|                    FATAL|  110|2018|
|                   INJURY| 4946|2018|
+-------------------------+-----+----+

### Result obtained! :D